html {
background-color: black;
}


h1 {
color: white;
text-align:center;
font-weight: bold;
text-decoration: underline;
}

p {
color: white;
}


iframe{
    position:relative;
    left:50vw;
    transform:translate(-50%, 0);
}

div{
	color:white;
	
}

strong{
	color:white;
}

img{
    position:relative;
    left:50vw;
    transform:translate(-50%, 0);
}

h3{
    text-align: -webkit-center;
    font-size:40px;
}

@media screen and (max-width: 1300px) {
  body {
    background-image:url(../fotografii/media.jpg);
    background-size:cover;
 }
}

.button {
  background-color: red;
  border:none;
  color:white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}